*{
  font-family: 'Poppins';
  box-sizing: border-box;
  
}

.card{
  
  background-color: rgb(22, 22, 22);
  color: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 3px 5px 20px rgba(46, 46, 46, 0.719);
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
  max-width: 60%;
  height: 3rem;
  border: 1px solid rgba(73, 73, 73, 0.705);
  border-radius: 5em;
  
}

.card-title{
    font-weight: bold;
    margin: 0;
    color: hsl(0, 0%, 73%);
}

.card-text{
  color: hsl(0, 0%, 40%);
}

.button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 2px 1px black;
}

.student{
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
  margin-top: 10px;
}

.student p{
  margin: 0;
}

.welcome-message{
  background-color: rgb(243, 229, 27);
  color: whitesmoke;
  padding: 10px;
  border-radius: .4em;
  margin: 0;
  text-align: center;
}

.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: burlywood;
}


.list-items li{
  list-style: none;
  font-size: 1.5em;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 55%);
  cursor: pointer;
}

.Counter-container{
  background: linear-gradient(blue, grey);
  padding: 1rem;
  text-align: center;
  font-family: 'Poppins';
  color: white;
  border-radius: 15px;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;

}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.counter-button:hover{
    background-color: rgba(40, 8, 70, 0.534);
    color: white;
    transition: all 5ms linear;
}


.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid cyan;
  border-radius: 20px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}

.color-display p{
      filter: invert(1);
      font-size: 2rem;
      text-align: center;
}


.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 80%);
}




